<mat-sidenav-container fullscreen>

    <mat-sidenav #start (click)="start.close()">
        <mat-nav-list>

            <a mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </a>

            <a mat-list-item routerLink="about">
                <mat-icon>question_answer</mat-icon>
                <span>About</span>
            </a>
            <a mat-list-item>
                <mat-icon>person_add</mat-icon>
                <span>Register</span>
            </a>

            <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </a>

            <a mat-list-item routerLink="browser-event-experiments">
                <mat-icon></mat-icon>
                <span>browser-event-experiments</span>
            </a>
            <a mat-list-item routerLink="event-bus-experiments">
                <mat-icon></mat-icon>
                <span>event-bus-experiments</span>
            </a>
            <a mat-list-item routerLink="rx-and-firebase">
                <mat-icon></mat-icon>
                <span>rx-and-firebase</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>