<table class="lessons-table mat-elevation-z7" 
>

    <thead>
        <th>#id</th>
        <th>Description</th>
        <th>duration</th>
    </thead>

    <tr *ngFor="let lesson of lessons">
        <td class="description-cell">
                {{lesson.id}}
           <input type="checkbox" (click)="toggleLessonViewed(lesson)">
            
        </td>
        <td class="description-cell">{{lesson.description}}</td>
        <td class="description-cell">{{lesson.duration}}</td>
        <td class="description-cell">
            <button class="botton mat-button" 
            (click)="delete(lesson)">X</button>
        </td>
    </tr>

</table>
